@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* h1 */

h1 {
    color: #1EA3C2;
}


/* div */

div {
    text-align: center;
    margin: 10px;
    font-family: 'SDSamliphopangche_Outline';
}

img {
    border-radius: 100%;
}

#unique {
    color: red;
}

.common {
    color: blue;
}